.container {
  width: 100%;
  height: 100%;
  background-color: gold;
}
:global(.ant-layout.ant-layout-has-sider) {
  height: 100%;
}
:global(.ant-layout-sider) {
  height: 100%;
  background-color: #fff;
}
:global(.ant-layout-header) {
  background-color: #fff;
}
:global(.logo) {
  height: 64px;
  line-height: 64px;
  text-align: center;
}
:global(.anticon) {
  font-size: 30px;
  color: #16a085;
}
:global(.anticon, .ant-menu-submenu-title .anticon) {
  font-size: 22px;
}
:global(.ant-menu li){
  font-size: 16px;
  padding: 22px 0;
  color:#4a5a6a;
}
:global(.ant-menu-item .ant-menu-item-icon){
  font-size: 16px;
}
:global(.ant-menu-submenu-title .anticon){
  font-size: 16px;
}
:global(.ant-menu-sub.ant-menu-inline > .ant-menu-item){
  font-size: 12px;
}

.avatar{
  display: flex;
  float: right;
  margin-right: 30px;
  padding: 0 10px;
}
.logout{
  padding: 10px;
}
:global(.ant-avatar){
  margin-top: 18px;
}