.swiper {
  position: relative;
  height: 212px;
}
.nav {
  padding: 10px 0;
}
.nav .am-flexbox-item {
  text-align: center;
}
.nav img {
  width: 48px;
}
.nav h2 {
  font-size: 13px;
  font-weight: normal;
}
.home .recommend {
  background-color: #f6f5f6;
  overflow: hidden;
  padding: 0 10px;
}
.title {
  position: relative;
  margin: 15px 0 15px 10px;
  background-color: #f6f5f6;
  font-size: 15px;
}
.more {
  position: absolute;
  right: 0;
  font-size: 14px;
  font-weight: normal;
  color: #787d82;
}

.rec-item p {
  font-weight: bold;
  font-size: 13px;
  margin-top: 5px;
}
.rec-item span {
  font-size: 12px;
  color: #999;
}
.rec-item img {
  height: 55px;
}
.recommend .am-grid .am-flexbox {
  background-color: inherit;
}
.am-flexbox-item {
  background-color: #fff;
}
.am-flexbox-align-stretch {
  margin-bottom: 10px;
}
.am-grid-item:first-child {
  margin-right: 10px;
}
/* 推荐房源 */
.imgIcon {
  margin: 10px;
  height: 100px;
  width: 120px;
}
.houseinfo h2 {
  margin: 15px 0 15px 0px;
  font-size: 15px;
}
.house-content {
  display: inline-block;
  position: absolute;
  margin: 10px 20px 0px 20px;
}
  /* search */

  .search-area {
    position: absolute;
    top: 25px;
    width: 100%;
    padding: 0 10px;
  }
  .main{
    flex: 1;
    height: 34px;
    margin: 0 10px;
    padding: 5px 5px 5px 8px;
    border-radius: 3px;
    background-color: #fff;
  }
  .icon-arrow{
    margin-left: 2px;
    font-size: 12px;
    color: #787d82;
  }
  .search-content{
    border-left: solid 1px #999;
    margin-left: 12px;
    line-height: 16px;
  }
  .icon-seach{
    vertical-align: middle;
    padding: 0 2px 0 12px;
    font-size: 15px;
    color: #9c9fa1;
  }
  .search-text{
      padding-left: 4px;
      font-size: 13px;
      color: #9c9fa1;
  }
  .icon-map {
    font-size: 25px;
    color: #fff;
  }