<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>grail-flex demo</title>
</head>
<style>
    .grail-layout{
        display: flex;
        width: 400px;
        height: 400px;
    }
    .left{
        width: 100px;
        background-color: #f66;
    }
    .center{
        flex: 1;
        background-color: #3c9f;
    }
    .right{
        width: 100px;
        background-color: #66f;
    }
</style>
<body>
    <div class="grail-layout">
        <div class="left"></div>
        <div class="center"></div>
        <div class="right"></div>
    </div>
</body>
</html>