.citylist {
  height: 100%;
  padding-top: 45px;
}
.citylist .navbar {
  margin-top: -45px;
  background-color: #f6f5f6;
}
.citylist .navbar .am-navbar-title {
  font-size: 16px;
  color: #333;
}
.citylist .navbar .am-navbar-left-icon {
  color: #333;
}
.city .citytitle {
  margin: 11px 10px 11px 10px;
  background-color: #fff;
  color: #619888;
  border-bottom: 1px solid #619353;
}
.city .cityname {
  margin: 30px 10px 10px;
  border-bottom: 1px solid #f6f5f6;
}
