.header {
  height: 45px;
  padding: 0 10px;
  background-color: #f6f5f6;
}
.header :global(.icon-back) {
  font-size: 16px;
}
.header :global(.icon-map) {
  color: aqua;
}
.searchbar {
  position: relative;
  top: 0;
}
.title {
  padding: 10px;
  border-bottom: 1px solid #ebe7e7;
}
.houseinfo {
  font-size: 20px;
}
.advantage {
  display: inline-block;
  margin: 10px;
  border: 1px solid #ebe7e7;
  background-color: lightblue;
}
.detailinfo {
  margin: 10px;
  height: 40px;
}
.item {
  float: left;
  margin-left: 30px;
}
.item > p:nth-child(odd) {
  padding-bottom: 8px;
  color: red;
  font-size: 16px;
}


.map {
  margin-top: 10px;
  background: #fff;
}

.mapTitle {
  margin: 0 3%;
  line-height: 44px;
  color: #666;
}

.mapTitle :global(span) {
  color: #333;
}

.mapContainer {
  height: 145px;
  text-align: center;
}

.mapArrow {
  background: url(http://map.baidu.com/fwmap/upload/r/map/fwmap/static/house/images/label.png)
    no-repeat;
  position: absolute;
  width: 11px;
  height: 10px;
  top: 23px;
  left: 10px;
  overflow: hidden;
}

