.profile {
  height: 300px;
  background: url("../../assets/images/bg.jpg");
  filter: blur(5px);
}
.userinfo {
  position: absolute;
  top: 150px;
  left: 50px;
  height: 200px;
  width: 275px;
  background-color: #fff;
  box-shadow: 2px grey;
}
.avatar {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  position: relative;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.items {
  position: relative;
  top: 80px;
}
.new {
  margin-top: 80px;
}
.recommend {
  padding-top: 15px;
  height: 100px;
  display: flex;
  justify-content: space-around;
}
.recommend > div {
  height: 75px;
  width: 105px;
}
.item0 {
  border-radius: 5px;
  background-color: #ff5617;
}
.item1 {
  border-radius: 5px;
  background-color: #ffc700;
}
.item2 {
  border-radius: 5px;
  background-color: #ff9600;
}
