html,
body {
  height: 100%;
  color: #333;
  background-color: #fff;
}
::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
  touch-action: pan-y;
}
h2 {
  margin: 0;
}
/* scroll not deal well */
*::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
  }
  *::-webkit-scrollbar:horizontal {
  width: 0;
  height: 0;
  display: none;
  }
