.map,
#container {
  height: 100%;
}
.BMap_stdMpZoom {
  top: -45px;
}
.buddle {
  height: 75px;
  width: 75px;
  display: inline-block;
  position: absolute;
  padding-top: 20px;
  background-color: green;
  color: aliceblue;
  border-radius: 100%;
  text-align: center;
}
/* fix  [Intervention] Ignored attempt to cancel a touchmove event with cancelable=false,
 for example because scrolling is in progress and cannot be interrupted 
 */
html {
  touch-action: none;
}
